<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= comment._id %>
    </title>
    <link rel="stylesheet" href="http://localhost:3000/styles.css">
</head>

<body>
    <div id="container">
        <div class="comment">
            <div>
                <h1 class="comment-writer">
                    <%= comment.writer %>
                </h1>
                said....
            </div>
            <h2>
                <%= comment.comment %>
            </h2>
        </div>
        <button><a href="http://localhost:3000/comments">Back to comments</a></button>
        <button><a href="http://localhost:3000/comments/<%=comment._id%>/edit">edit comment</a></button>
        <form action="/comments/<%=comment._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>
</body>

</html>